In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
BRFRSS_2015 = "2015.csv"
BRFSS_2011 = "2011.csv"
fields = "fields_to_keep.csv"

# Read the Data and store into Pandas DataFrames
df_15 = pd.read_csv(BRFRSS_2015)
df_11 = pd.read_csv(BRFSS_2011)
fields_df = pd.read_csv(fields)

In [2]:
df_15.shape

(441456, 330)

In [3]:
df_11.shape

(506467, 454)

In [4]:
fields_df.head()

       2011      2015
0    _STATE    _STATE
1     IYEAR     IYEAR
2     SEQNO     SEQNO
3   GENHLTH   GENHLTH
4  PHYSHLTH  PHYSHLTH

In [5]:
# Create lists of fields to keep for 2011 and 2015 data.
fields_15 = fields_df['2015'].tolist()
fields_11 = fields_df['2011'].tolist()

In [6]:
# Create Diabetes table by keeping only the needed columns

# First create diabetes table from the 2015 dataframe
diabetes = df_15[fields_15]
diabetes.shape

(441456, 58)

In [7]:

# Update 2015 field names to match 2011 field names
diabetes.rename(columns={'CHCCOPD1':'CHCCOPD','EMPLOY1':'EMPLOY','SCNTMNY1':'SCNTMONY','SCNTMEL1':'SCNTMEAL','_RACE':'RACE2'}, inplace=True)

diabetes.head()

/var/folders/33/_fv8x5t95s93_xt9m7_wzfqc0000gn/T/ipykernel_36217/3804640287.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diabetes.rename(columns={'CHCCOPD1':'CHCCOPD','EMPLOY1':'EMPLOY','SCNTMNY1':'SCNTMONY','SCNTMEL1':'SCNTMEAL','_RACE':'RACE2'}, inplace=True)

,_STATE,IYEAR,SEQNO,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,HLTHPLN1,PERSDOC2,MEDCOST,...,ADMOVE,MISTMNT,ADANXEV,RACE2,_AGE_G,HTM4,WTKG3,_BMI5,_FRUTSUM,_VEGESUM
0,1.0,b'2015',2.015000e+09,5.0,15.0,18.0,10.0,1.0,1.0,2.0,...,NaN,NaN,NaN,1.0,5.0,178.0,12701.0,4018.0,50.0,217.0
1,1.0,b'2015',2.015000e+09,3.0,88.0,88.0,NaN,2.0,1.0,1.0,...,NaN,NaN,NaN,1.0,4.0,173.0,7484.0,2509.0,24.0,78.0
2,1.0,b'2015',2.015000e+09,4.0,15.0,88.0,88.0,1.0,2.0,2.0,...,NaN,NaN,NaN,1.0,6.0,180.0,7167.0,2204.0,NaN,NaN
3,1.0,b'2015',2.015000e+09,5.0,30.0,30.0,30.0,1.0,2.0,1.0,...,NaN,NaN,NaN,1.0,5.0,170.0,8165.0,2819.0,100.0,20.0
4,1.0,b'2015',2.015000e+09,5.0,20.0,88.0,30.0,1.0,1.0,2.0,...,NaN,NaN,NaN,1.0,5.0,163.0,6441.0,2437.0,NaN,200.0

In [8]:
# Append 2011 data to the diabetes table
diabetes = pd.concat([diabetes,df_11[fields_11]])
diabetes.shape

(947923, 58)

In [10]:
# Export data to load into SQL DB
diabetes.to_csv("diabetes.csv", index=False)